#goTop {
  position: fixed;
  z-index: 4;
  bottom: 8vh;
  right: 1vw;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: #808080;
  .container {
    transform: rotate(-90deg);
    a {
      display: flex;
      align-items: center;
      transition: color 0.3s;
      i {
        font-size: 15px;
        transition: transform 0.3s;
      }
      &:hover {
        color: #f57250;
        i {
          transform: translateX(5px);
        }
      }
    }
  }
}
