main {
  margin-top: 70px;
  #sub12NoticeBoard {
    .container {
      margin: 0 auto;
      max-width: 1240px;
      width: 100%;
      h2 {
        font-size: 28px;
        padding-block: 48px 30px;
        border-bottom: 2px solid #555;
      }
      .title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 43px;
        padding: 0 20px 13px 20px;
        h3 {
          font-size: 18px;
          font-weight: 600;
        }
        .date {
          color: #999;
          font-size: 13px;
        }
      }
      .content {
        padding: 30px 20px;
        text-align: justify;
        line-height: 1.47;
        border-block: 1px solid #e6e6e6;
        p {
          white-space: pre-line;
        }
      }
      .foot {
        margin-block: 40px;
        .btn-container {
          display: flex;
          justify-content: center;
          column-gap: 10px;
          button {
            width: 180px;
            padding-block: 10px;
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            color: #333;
            font-size: 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
